.notification{
    background:gray;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:2px;
    margin-left:2px;
    font-size:13px;
}
.notification h3{font-size:14px;margin:0px;padding:0px;}
#vcn_notification_bar{
    overflow: visible;
	/*display: table-cell;*/
	vertical-align: bottom;
	height:100%;
	/*border:1px solid red;*/
}
.vcn_notifier{position:fixed;
	/*border:1px solid red;*/
	z-index:2;left:0px;
    bottom:0px;
	width: 270px;
}